html.is-unimodal-active {
  overflow: hidden;
}
.unimodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: -9999;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.1s ease-out;
  padding: 1em;
}
.unimodal.is-active {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}
.unimodal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.unimodal-body {
  position: relative;
  z-index: 2;
  margin: auto;
  background-color: #fff;
}
.unimodal.is-active .unimodal-body {
  animation: unimodal-show 0.2s ease-out 1 forwards;
}
@-moz-keyframes unimodal-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes unimodal-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-o-keyframes unimodal-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes unimodal-show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
